@import "tailwindcss";

@theme {
  /* Override blue to be corporate red */
  --color-blue-50: var(--color-red-50);
  --color-blue-100: var(--color-red-100);
  --color-blue-200: var(--color-red-200);
  --color-blue-300: var(--color-red-300);
  --color-blue-400: var(--color-red-400);
  --color-blue-500: var(--color-red-500);
  --color-blue-600: var(--color-red-600);
  --color-blue-700: var(--color-red-700);
  --color-blue-800: var(--color-red-800);
  --color-blue-900: var(--color-red-900);
  --color-blue-950: var(--color-red-950);

  /* Override indigo to be orange to create a warm red-to-orange gradient match for HDI */
  --color-indigo-50: var(--color-orange-50);
  --color-indigo-100: var(--color-orange-100);
  --color-indigo-200: var(--color-orange-200);
  --color-indigo-300: var(--color-orange-300);
  --color-indigo-400: var(--color-orange-400);
  --color-indigo-500: var(--color-orange-500);
  --color-indigo-600: var(--color-orange-600);
  --color-indigo-700: var(--color-orange-700);
  --color-indigo-800: var(--color-orange-800);
  --color-indigo-900: var(--color-orange-900);
  --color-indigo-950: var(--color-orange-950);
}
